@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=DotGothic16&family=RocknRoll+One&family=Ultra&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}
body {
  color: #000;
  font-family: "Zen Maru Gothic", sans-serif;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes health {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}