@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Shippori+Mincho&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}
body {
  color: #fff;
  font-family: "Shippori Mincho", serif;
}
.box:before {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%) skew(-25deg);
	height: 25px;
	width: 15px;
	border-right: 3px solid #333;
	background-color: white;
	content: "";
  }
  
  .bg-line-height{
	background: linear-gradient( transparent 70%, #FAC103 20% );
  }
  
  .flow-arrow:not(:last-child)::before{
	content:"";
	background: url(/assets/images/arrow-down.png) no-repeat;
	width: 30px;
	height: 53px;
	background-size: 30px 53px;
	position: absolute;
	bottom: -70px;
	left: 50%;
	transform: translateX(-50%);
  }
  