@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}
body {
  color: #000;
  font-family: Fit-Variable;
  font-feature-settings: "tnum", "liga", "kern";
}
.box:nth-of-type(2) {
  @apply opacity-100 scale-100
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  display: none;
}

#nprogress .spinner {
  display: none;
}

.loading-screen{
  position: relative;
  width: 100%;
}

.loading-screen img{
  width: 100%;
  opacity: 0;
}

.loading-screen canvas {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s;
}

.loading-screen canvas.active{
  opacity: 1;
  pointer-events: none;
}

.loading-screen {
  width: 100%;
  height: 100svh;
  position: fixed;
  inset: 0;
  z-index: 99;
  background: #fff;
}

.loading-screen img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.animate path{
  animation: pulse 1.5s infinite ease-in-out;
  transform-origin: center;
}

@keyframes pulse {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(1);
  }
}

.caret {
  opacity: 0;
  pointer-events: none;
	border-right: 2px solid #000;
  margin-left: 4px;
	animation: typing 3s steps(18), blink .4s step-end infinite alternate;
}
.show-caret .caret {
  opacity: 1;
}

@keyframes typing {
	from {
		width: 0;
	}
}
@keyframes blink {
	50% {
		border-color: transparent;
	}
}

.bg-text {
  display: inline-block;
  background-image: url('/assets/images/bg-text.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.ani-blur{
	filter: blur(100px);
	animation: blur-anim2 10s linear forwards;
}

@keyframes blur-anim2 {
	100% {	filter: blur(0); }
}



.tooltip.type-01:not(.is-active) {
  --opacity: 1;
  --scale: 1;
}

.tooltip.type-01 .char {
  display: inline-block;
  transform: scale(var(--scale, 0));
  opacity: var(--opacity, 0);
  transition: opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1), transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: calc(0.016s * var(--char-index));
}


.tooltip.type-02:not(.is-active) {
  --y: 0;
}

.tooltip.type-02 .char {
  display: inline-block;
  transform: translateY(var(--y, 110%));
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: calc(0.04s * var(--char-index));
}



.tooltip.type-03:not(.is-active) {
	--skewX: 0deg;
	--x: 0;
}
.text1,
.text2,
.text3 {
  display: inline-block;
	transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.text2,
.text3 {
	position: absolute;
  width: 100%;
  left: 0;
}

.text1 {
  position: relative;
	mask-image: linear-gradient(
    to bottom, 
    #000 33.3%, 
    transparent 33.3%
  );
	transform: translateX(var(--x, -110%)) skewX(var(--skewX, 40deg));
}

.text2 {
	mask-image: linear-gradient(
		to bottom,
		transparent 33.3%,
		#000 33.3%,
		#000 66.6%,
		transparent 66.6%
	);
	transform: translateX(var(--x, 110%)) skewX(var(--skewX, -40deg));
}

.text3 {
	mask-image: linear-gradient(
    to bottom, 
    transparent 66.6%, 
    #000 66.6%
  );
	transform: translateX(var(--x, -110%)) skewX(var(--skewX, 40deg));
}

